.Cabeza{
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  gap: 2%;
}

.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  color: white;
  cursor: pointer;
}