*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.Cabeza{
  display: flex;
  width: 100%;
  z-index: 1;
  gap: 2%;
}

.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  color: white;
  cursor: pointer;
}